.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px
}

#animation-loading__downdog {
  max-height: 200px;
}

#animation-loading__downdog__leg {
  animation: raising-leg 2000ms ease-in-out infinite normal forwards;
}

@keyframes raising-leg {
  0% {
    transform: translate(258.391963px,199.748114px) rotate(0deg)
  }
  30% {
    transform: translate(258.391963px,199.748114px) rotate(98.45318deg)
  }
  50% {
    transform: translate(258.391963px,199.748114px) rotate(98.45318deg)
  }
  85% {
    transform: translate(258.391963px,199.748114px) rotate(-0.075786deg)
  }
  100% {
    transform: translate(258.391963px,199.748114px) rotate(-0.075786deg)
  }
}
