.yoga-routine {
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 40px;
    
    &__name {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0px;
      text-align: left;
    }
    
    &__date {
      font-size: 16px;
      margin-top: 0px;
      font-weight: 300;
      margin-bottom: 20px;
      text-align: left;
    }
    
    &__poses {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 10px;
      
      &__pose {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        
        img {
          max-height: 120px;
          width: auto;
          border-radius: 5px;
        }
        
        &-text {
          font-size: 20px;
        }

        &-details {
          font-size: 14px;
          margin-top: 5px;
          
          p {
            margin: 0;
            
            &:first-child {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  
.yoga-routine__poses__pose-name {
    font-weight: bold;
    margin-top: 0.5rem;
    text-transform: capitalize;
}
  