.textfield {

    &__input {
        width: 100%;
        border-radius: 0;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    &__label {
        display: block;
        font-weight: 300;
        margin-bottom: 10px;
    }
}